name: Generate GitHub Stats

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Harsh28Pandey
          filename: assets/github-metrics.svg
          template: classic
          base: header, activity, repositories
          config_timezone: Asia/Kolkata

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add assets/github-metrics.svg
          git commit -m "update stats" || exit 0
          git push
